<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#bootstrap#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#lien feuille style assets#}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <title>{% block title %}Doctrine{% endblock %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{path('auteurs')}}">Menu Auteurs</a>
        <div>
            <a href="{{ path('country', {'country': 'Belgium'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Belgique</a>
            <a href="{{ path('country', {'country': 'Great Britain'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Grande Bretagne</a>
        </div>
        <div class="p-5">

            <form class="form-inline" method="get" action="{{ path('search_name') }}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchName">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </div>
    </nav>
    <h1>Doctrine</h1>
    <div>
        {% block contenu %}contenu{% endblock %}
    </div>
</header>

</body>
</html>