{% extends "@App/base.html.twig" %}

{% block title %}Affichage Livres{% endblock %}

{% block contenu %}{{ dump(auteurs) }}{% endblock %}

{% block lesAuteurs %}
    {# Liste les auteurs #}
    {% for auteur in auteurs %}
       <p>
           auteur : {{ auteur.nom }}
       </p>
        <p>
            date de naissance: {{ auteur.dateNaissance|date("m/d/Y")}}    date de décès: {{ auteur.dateMort|date("m/d/Y")}}
        </p>
        <p>
            {{ auteur.biographie }}
        </p>
        <hr>
    {% endfor %}
{% endblock %}