{% extends "@App/baseAuteur.html.twig" %}

{% block title %}Affichage Auteur{% endblock %}


{#{% block contenu %}{{ dump(auteur) }}{% endblock %}#}

{% block contenu %}
    <h1>Affichage de l'Auteur</h1>


    {# affiche un auteur #}

        <p>
            auteur : {{ auteur.nom }}
        </p>
        <p>
            {# utilisation du filtre 'date' de Twig sur l'attribut date de auteur #}
            date de naissance: {{ auteur.dateNaissance|date("m/d/Y")  }} &nbsp
            date de décès: {{ auteur.dateMort|date("m/d/Y")}}
        </p>
        <p>
            {{ auteur.biographie }}
        </p>
        <hr>
        <p>
            {% for livre in auteur.livre %}
                <a href="{{path('livres')}}">{{ livre.titre }}</a>
            {% endfor %}
        </p>
        <p>
            <a href="{{ path('admin_modif_auteur', {'id': '38'}) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Modifier</a>
        </p>
    {#admin_modif_auteur#}
{% endblock %}