{% extends "@App/baseAuteur.html.twig" %}

{% block title %}Affichage Livres{% endblock %}

{#{% block contenu %}{{ dump(auteurs) }}{% endblock %}#}

{% block contenu %}<h1>Liste des Auteurs</h1>
    <div class="container">
<div class="row">
<div class="text-align-center">
    {# Liste les auteurs avec une boucle for #}
    {% for auteur in auteurs %}

        {# création du chemin href vers la page auteur avec la méthode path et le placeholder 'id'
        incrémenté par l'attribut id de auteur #}
        <a href="{{ path('auteur', {'id': auteur.id}) }}">
           <p>
               auteur : {{ auteur.nom }}
           </p>
            <p>
                {# utilisation du filtre 'date' de Twig sur l'attribut date de auteur #}
                date de naissance: {{ auteur.dateNaissance|date("d/m/Y")}} &nbsp
                date de décès: {{ auteur.dateMort|date("d/m/Y")}}
            </p>
            <p>
                {{ auteur.biographie }}
            </p>
            <a href="{{ path('admin_auteur_supp',  {'id': auteur.id}) }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Supprimer</button>
            </a>
            <hr>admin_auteur_supp
        </a>

    {% endfor %}
    </div>
</div>
</div>
    </div>
{% endblock %}