{% extends "@App/baseLivre.html.twig" %}

{% block title %}Affichage Livres{% endblock %}


{#{% block contenu %}{{ dump(auteur) }}{% endblock %}#}

{% block contenu %}
    <h1>Affichage du Livre</h1>

    {# affiche un auteur #}

    <p>
        Livre : {{ livre.titre }}
    </p>
    <p>
        <a href="{{path('auteurs')}}">auteur: {{ livre.auteur.nom}} &nbsp</a>
        nombre pages: {{ livre.pages}}&nbsp
        genre: {{ livre.genre}}&nbsp
        format: {{ livre.format}}
    </p>
    <hr>

{% endblock %}