{% extends "@App/baseLivre.html.twig" %}




{% block contenu %}

    <div class="container">
        <div class="row form-group">
            <div class=" offset-3 col-5">
                {{ form_start(formlivre, {'attr': {'class': 'd-block'}}) }}

                <div class="form-group row">

                    {{ form_label(formlivre.titre, null, {'label_attr':  {'class': 'col-3 col-form-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(formlivre.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_errors(formlivre.pages) }}
                    {{ form_label(formlivre.pages, null, {'label_attr':  {'class': 'col-3  col-form-label'}})}}
                    <div class="col-sm-5">
                        {{ form_widget(formlivre.pages, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_errors(formlivre.genre) }}
                    {{ form_label(formlivre.genre, null, {'label_attr':  {'class': 'col-3  col-form-label radio-inline'}})}}
                    <div class="col-sm-5">
                            {{ form_widget(formlivre.genre) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(formlivre.format, null, {'label_attr':  {'class': 'col-3  col-form-label'}})}}
                    <div class="col-sm-5">
                        {{ form_widget(formlivre.format, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(formlivre.auteur, null, {'label_attr':  {'class': 'col-3  col-form-label'}})}}
                    <div class="col-sm-5">
                        {{ form_widget(formlivre.auteur, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-3 col-sm-5">
                        {{ form_widget(formlivre.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>

                {{ form_end(formlivre) }}
            </div>
        </div>
    </div>



    </div>

{% endblock %}