{% extends "@App/baselivre.html.twig" %}

{% block title %}Affichage Livres{% endblock %}


{% block contenu %}<h1>Liste des Livres</h1>
    <div class="container">
        <div class="row">
            <div class="text-align-center">
                {# Liste les livres avec une boucle for #}
                {% for livre in livres %}

                    {# création du chemin href vers la page livre avec la méthode path et le placeholder 'id'
                    incrémenté par l'attribut id de livre #}
                    <a href="{{ path('livre', {'id': livre.id}) }}">
                       <p>
                           livre : {{ livre.titre }}
                       </p>
                        <p>
                            {# utilisation du filtre 'date' de Twig sur l'attribut date de livre #}
                            {% if livre.auteur %}
                                auteur: {{ livre.auteur.nom}} &nbsp
                               {% else %}
                                pas d'auteur pour ce livre, vérifiez ...&nbsp
                            {% endif %}
                            nombre pages: {{ livre.pages}}
                            genre: {{ livre.genre}}
                            format: {{ livre.format}}
                        </p>
                        <hr>
                    </a>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}