{% extends "@App/baseLivre.html.twig" %}

{% block title %}Affichage Auteur{% endblock %}


{#{% block contenu %}{{ dump(auteur) }}{% endblock %}#}

{% block contenu %}
    <h1>Affichage du Livre</h1>

    {# affiche un auteur #}

    <p>
        Livre : {{ livre.titre }}
    </p>
    <p>
        Image:
        {% if livre.image %}
            <img src="{{ asset('uploads/img/' ~ livre.image) }}" alt="{{ livre.titre }}">
        {% else %}
            emplacement image
        {% endif %}
    </p>
    <p>
        <a href="{{path('auteurs')}}">auteur: {{ livre.auteur.nom}} &nbsp</a>
        nombre pages: {{ livre.pages}}&nbsp
        genre: {{ livre.genre}}&nbsp
        format: {{ livre.format}}
    </p>
    <hr>

{% endblock %}